<h2>User List</h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("New User", new_admin_user_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr class="success">
      <th>#</th>
      <th>Email</th>
      <th>權限</th>
      <th>權限轉換</th>
      <th>編輯</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <% if user.admin? %>
            管理者
          <% else %>
            一般使用者
          <% end %>
        </td>
        <td>
          <% if user.admin? %>
            <%= link_to("轉為一般使用者", admin_user_to_normal_path(user), method: :post, class: "btn btn-info btn-sm") %>
          <% else %>
            <%= link_to("轉為管理者", admin_user_to_admin_path(user), method: :post, class: "btn btn-primary btn-sm") %>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-warning btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>